<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.component">

    <application>

        <activity
            android:name="com.base.okpermission.OKPermissionActivity"
            android:launchMode="singleTop"
            android:theme="@style/okpermission_loading">

        </activity>
    </application>
</manifest>